.carousel {
  /* cursor: grab; */
  overflow: hidden;
}

.carouselInner {
  display: flex;
}

.item {
  min-height: 30rem;
  min-width: 30rem;
  padding: 20px;
}

.carouselInner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
  pointer-events: none;
}
