.container {
  width: 100%;
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
  padding-bottom: 7rem;
  /* overflow: hidden; */
}

.container .text h2 {
  font-size: 2.7rem;
  color: #fff;
  font-family: MonumentExtended, sans-serif;
  width: 100%;
}

.text p {
  width: 60%;
  font-size: 1rem;
  font-weight: 100;
  color: #fff;
  text-align: start;
}

@media screen and (max-width: 700px) {
  .container {
    position: relative;
    bottom: 10rem;
    padding-bottom: 0rem;
  }

  .container .text h2 {
    font-size: 1.5rem;
  }
  .text p {
    font-size: 0.8rem;
    width: 100%;
  }
}
