/* @import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Train+One&display=swap"); */

.header {
  position: relative;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.nav {
  position: relative;
  max-width: 1600px;
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.185);
  font-family: "Sora", sans-serif;
}

.nav .navLogo {
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: start;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.nav .navLogo:hover {
  transform: scale(1.1);
}

.navMenu {
  font-size: 1.5rem;
  text-align: start;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.navMenu:hover {
  transform: scale(1.1);
}

.main {
  display: inline-block;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  min-height: 100svh;
}

.main h1 {
  font-family: MonumentExtended, sans-serif;
  position: relative;
  top: 25%;
  font-size: 5rem;
  color: #fff;
  z-index: 2;
  text-transform: uppercase;
  text-align: center;
  /* font-family: "Anton", sans-serif;
  font-family: "Luckiest Guy", cursive; */

  /* font-family: "Anton", sans-serif; */
  /* font-family: "Luckiest Guy", cursive; */
  /* font-family: "Rubik Vinyl", cursive; */
  /* font-family: "Train One", cursive; */

  letter-spacing: 5px;
}

.heroBg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  min-height: 100svh;
  background-image: url("../assets/sky.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heroMove {
  position: relative;
  top: 1rem;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  min-height: 100svh;
  background-image: url("../assets/buggy.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
}

/* ==============Section2============*/

.section {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: #fff; */
  width: 100%;
  height: 1000px;
  z-index: 2;
}

.section h2 {
  font-size: 6rem;
  color: red;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

/* ==============Section3============*/

/*  breakpoints */

@media (max-width: 768px) {
  .main h1 {
    font-size: 3rem;
    bottom: 5rem;
  }

  .section {
    top: 70%;
  }

  .section h2 {
    position: relative;
    top: 20%;
    font-size: 2rem;
    color: red;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
  }
}
