.header {
  position: relative;
  width: 100%;
  /* transition: all 0.5s ease-in; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.nav {
  position: relative;
  max-width: 1300px;
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.185); */
  z-index: 10;
}

.nav .navLogo {
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: start;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.nav .navLogo:hover {
  transform: scale(1.1);
}

.navMenu {
  font-size: 1.5rem;
  text-align: start;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.navMenu:hover {
  transform: scale(1.1);
}
